{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .placeorder-content {
            text-align: center;
            padding: 140px;
            background-color: black;
            border: 0 solid #ddd;
            margin-top: 0;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="main-content">
        <div class="placeorder-content" >
            <h1 style="color:#e4381C;">Your Order Has Been Placed</h1>
            <p>Thank you for ordering with us! We'll contact you by email with your order details.</p>
        </div>
    </div>

{% endblock %}