{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="color: white">
        <h1 style="color: white">Fill this form for any queries</h1>
        <br> <br>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
